In [1]:
import pandas as pd
import os
from urllib.parse import urlparse
from collections import Counter

pd.set_option("display.max_colwidth", 200)

In [3]:
# Path dataset (chỉnh lại nếu cần)
DATASET_PATH = "D:\\0_Daniel\\HK5\\IE105\\3_DoAn\\dataset.csv"

df = pd.read_csv(DATASET_PATH)

# Chỉ cần cột url
df = df[['url']].dropna().reset_index(drop=True)

df.head()

                                                                             url
0                                                  slnmc.dsti.gov.sl/favicon.ico
1                                                    pspsadev.jdn.gov.my/TIS.txt
2  https://learnerhub.notaryedu.sos.in.gov/_next/static/css/d41ac7629c78fe61.css
3                                https://vizss.czdt.smce.nasa.gov/tide-data.json
4                                                    trip.digital.gov.my/TIS.txt

In [4]:
def extract_suffix_parts(url):
    parsed = urlparse(str(url).lower())
    path = parsed.path
    filename = os.path.basename(path)
    extension = os.path.splitext(filename)[1]
    return path, filename, extension

df[['path', 'filename', 'extension']] = df['url'].apply(
    lambda x: pd.Series(extract_suffix_parts(x))
)

df.head(10)

,url,path,filename,extension
0,slnmc.dsti.gov.sl/favicon.ico,slnmc.dsti.gov.sl/favicon.ico,favicon.ico,.ico
1,pspsadev.jdn.gov.my/TIS.txt,pspsadev.jdn.gov.my/tis.txt,tis.txt,.txt
2,https://learnerhub.notaryedu.sos.in.gov/_next/static/css/d41ac7629c78fe61.css,/_next/static/css/d41ac7629c78fe61.css,d41ac7629c78fe61.css,.css
3,https://vizss.czdt.smce.nasa.gov/tide-data.json,/tide-data.json,tide-data.json,.json
4,trip.digital.gov.my/TIS.txt,trip.digital.gov.my/tis.txt,tis.txt,.txt
5,sicarf.iterpa.pa.gov.br/TIS.txt,sicarf.iterpa.pa.gov.br/tis.txt,tis.txt,.txt
6,sisgepos.pcs.usp.br/nda.txt,sisgepos.pcs.usp.br/nda.txt,nda.txt,.txt
7,https://comunicacao.partidoliberal.org.br/nda.txt,/nda.txt,nda.txt,.txt
8,https://adm.dev.acervo.obia.nic.br/images/file-cover.jpg,/images/file-cover.jpg,file-cover.jpg,.jpg
9,https://iade.wwfmarket.com/placeholder.jpg,/placeholder.jpg,placeholder.jpg,.jpg

In [ ]:
ext_counter = Counter(df['extension'])

ext_df = pd.DataFrame(
    ext_counter.most_common(),
    columns=['extension', 'count']
)

ext_df.head(20)

   extension  count
0             11828
1       .txt   4959
2      .html   3467
3       .php    777
4       .htm    276
5       .pdf    240
6       .com    134
7       .gif     94
8      .aspx     80
9        .id     75
10      .png     73
11      .jpg     51
12      .asp     50
13       .br     45
14       .bd     35
15       .mx     24
16       .tr     21
17      .net     18
18       .in     17
19    .shtml     14

In [6]:
filename_counter = Counter(df['filename'])

filename_df = pd.DataFrame(
    filename_counter.most_common(),
    columns=['filename', 'count']
)

filename_df.head(20)

              filename  count
0                        9802
1     professor6t9.txt   2332
2               a.html    688
3              xyz.txt    627
4       al-huwaiti.txt    496
5           index.html    283
6             mka.html    274
7             ynr.html    263
8               0x.txt    236
9                v.txt    203
10            cato.txt    172
11          d3lta.html    108
12       unlimited.txt    107
13              b.html    102
14          robots.txt    101
15  freepalestine.html    101
16            duke.php     98
17               p.php     96
18         readme.html     80
19           null.html     75

In [7]:
from collections import Counter
import os
from urllib.parse import urlparse

# Tách filename từ URL
df['filename'] = df['url'].apply(
    lambda x: os.path.basename(urlparse(str(x)).path)
)

# Đếm số lần xuất hiện
filename_counter = Counter(df['filename'])

# Chuyển sang DataFrame cho dễ nhìn
filename_df = (
    pd.DataFrame(filename_counter.items(), columns=['filename', 'count'])
    .sort_values(by='count', ascending=False)
    .reset_index(drop=True)
)

filename_df

                     filename  count
0                               9802
1            Professor6T9.txt   2332
2                      a.html    688
3                     xYz.txt    627
4              al-huwaiti.txt    496
...                       ...    ...
3896  mymesyuarat.mbsa.gov.my      1
3897                galau.jpg      1
3898                  qyr.txt      1
3899             9937read.txt      1
3900      Number-Balloons-572      1

[3901 rows x 2 columns]

In [8]:
from collections import Counter

filename_counter = Counter(df['filename'])

filename_3plus = (
    pd.DataFrame(filename_counter.items(), columns=['filename', 'count'])
    .query("count >= 3")
    .sort_values(by='count', ascending=False)
    .reset_index(drop=True)
)

filename_3plus

filename_3plus.to_csv("filename_appear_3plus.csv", index=False)